<div class="tm-main-content" id="top">
  <div class="tm-top-bar-bg"></div>
  <div class="tm-top-bar" id="tm-top-bar">
      <div class="container">
          <div class="row">
              <nav class="navbar navbar-expand-lg narbar-light">
                  <a class="navbar-brand mr-auto" href="#">
                      <img src="/assets/logo.png" alt="Site logo">
                      Maguini
                  </a>
                  <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link active" href="/accueil">Accueil<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/about">A propos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/login-admin">Admin</a>
                      </li>


                  </ul>

              </div>


              <div >
                <ng-container *ngIf="!nom; else elseTemplate">
                  <i class="mdi mdi-login"></i>
                  <span (click)="Connecter()">Se connecter</span>
                </ng-container>
                <ng-template #elseTemplate>

                  <i class="mdi mdi-logout"></i>
                  <span (click)="logout()"> Deconnexion</span>
                </ng-template>

              </div>


                <!--button  class=pull-right class="btn btn-primary " (click)="logout()" style="align-items: flex-end;" id="btnSubmit">Déconnexion</button>

              <!--button class=pull-right class="btn btn-primary " style="align-items: flex-end;" id="btnSubmit">connexion</button-->

          </nav>
      </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- .tm-top-bar -->

<div class="tm-page-wrap mx-auto">
  <section class="tm-banner">
      <div class="tm-container-outer tm-banner-bg">
          <div class="container">

              <div class="row tm-banner-row tm-banner-row-header">
                  <div class="col-xs-12">
                      <div class="tm-banner-header">
                        <div class="row tm-banner-row tm-banner-row-header">
                          <div class="col-xs-12">
                              <div class="tm-banner-header">
                                  <div class=" font-italic tm-banner-subtitle">
                                       <br>
                                       <p>Maguini</p>
                                        <br><br><br>
                                        <p>
                                            Une application permettant de trouver des livreurs facilement ou que vous soyez
                                        </p>
                                    <br><br>




                                  </div>

                              </div>
                          </div>  <!-- col-xs-12 -->
                      </div>
                      </div>
                  </div>  <!-- col-xs-12 -->
              </div> <!-- row -->
              <div class="row tm-banner-row" id="tm-section-search">

                <img src="assets/livreur.jpg" style="width:200px;" alt="About Hero"><br>

                  <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
                      <div class="form-row tm-search-form-row">

                          <h3 class="font-bold" >Cette plateforme va vous permettre de Trouver des Livreurs Partout au Sénégal.
                            Vous pouvez envoyer  n'importe quoi d'un point A à point B sans quitter votre  ville,
                            nourriture incluse: commandez vos pizzas, burgers ou tout autre plat
                             dans les restaurants et fast-foods de votre ville et trouvez un Livreur pour vous le faire parvenir .
  </h3>


                      </div> <!-- form-row -->

                    </form>



              </div> <!-- row -->
              <div class="tm-banner-overlay"></div>
          </div>  <!-- .container -->
      </div>     <!-- .tm-container-outer -->
    </section>





  <section class="p-5 tm-container-outer tm-bg-gray ">
    <div class="container">
      <div class="gallary-header text-center">


        <div class="row text-center pt-5 pb-3">
          <div class="col-lg-6 m-auto">
              <h1 class="h1">Nos Services</h1>

          </div>
      </div>
      <div class="row">

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1  text-center" style="color: #69c6ba"><i class="fa fa-truck fa-lg"></i></div>
                  <h2 class="h5 mt-4 text-center">Services de Livraison</h2>
              </div>
          </div>

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1  text-center" style="color: #69c6ba"><i class="mdi mdi-shuffle-disabled"></i></div>
                  <h2 class="h5 mt-4 text-center">Expédition et retour</h2>
              </div>
          </div>

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1  text-center" style="color: #69c6ba"><i class="fa fa-percent"></i></div>
                  <h2 class="h5 mt-4 text-center">Promotion sur les prix</h2>
              </div>
          </div>

          <div class="col-md-6 col-lg-3 pb-5">
              <div class="h-100 py-5 services-icon-wap shadow">
                  <div class="h1  text-center" style="color: #69c6ba"><i class="fa fa-user"></i></div>
                  <h2 class="h5 mt-4 text-center">24 Heures de Service</h2>
              </div>
          </div>
      </div>


      </div><!--/.gallery-header-->

    </div><!--/.container-->
    <!--div class="row">
      <div class="column" *ngFor="let rv of livreur">
        <div class="card">
          <img [src]="rv.livreur.picByte"  style="width:100%;height:250px">
          <h4><b>{{rv.livreur.prenom}} {{rv.livreur.nom}}</b></h4>
          <p>{{rv.trajet.source}} - {{rv.trajet.destination}}</p>
        </div>
      </div>
    </div-->
    <div class="table-responsive">




    </div>
    <!--div class="card-deck card-data" *ngFor="let rv of livreur"-- >
      <!--div class="card">
        <img class="card-img-top" class="rounded-circle" [src]="rv.picByte" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div-->

      <!--div class="card ">
        <img class="card-img-top" class="rounded-circle"[src]="rv.picByte" alt="Card image cap">
        <span class="icon section-icon">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
        </span>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

    </div-->

  </section>

  <footer class="tm-container-outer">
      <p class="mb-0">Copyright © <span class="tm-current-year">2021</span> Your Company

      Designed by <a rel="nofollow" href="#" target="_parent">Fallou</a></p>
  </footer>
</div>
</div>
